{% if habits %}

<article>
        <figure class="app-table-wrapper">
            <table role="grid" class="app-table">
                <thead>
                <tr>
                    <th scope="col" style="width: 10%;">Name</th>
                    <th scope="col" style="width: 20%;">Target (per day)</th>
                    <th scope="col" style="width: 10%;">Status</th>
                    <th scope="col" style="width: 10%;">Modify</th>
                </tr>
                </thead>
                <tbody>
                {% for habit in habits %}
                    <tr>
                        <td data-label="Name">{{ habit.name }}</td>
                        <td data-label="Default Target">{{ habit.target_str }}</td>
                        <td data-label="Status">
                            {% if not habit.is_active %}
                                <span class="amount-badge amount-badge--danger" title="inactive">
                                    Inactive
                                </span>
                            {% else %}
                                <span class="amount-badge amount-badge--success" title="active">
                                    Active
                                </span>
                            {% endif %}
                        </td>
                        <td class="app-table-actions">
                            {% if habit.is_active %}
                                <form
                                    method="post"
                                    action="{% url 'habits:archive_habit' habit.id %}?next={{ request.get_full_path|urlencode }}"
                                    style="display: inline;"
                                >
                                    {% csrf_token %}
                                    <button
                                        type="submit"
                                        class="app-btn-icon"
                                        data-tippy-content="Mark Inactive"
                                        aria-label="Mark {{ habit }} as inactive"
                                    >{% include "partials/icons/archive.html" %}</button>
                                </form>
                            {% else %}
                               <form
                                    method="post"
                                    action="{% url 'habits:unarchive_habit' habit.id %}?next={{ request.get_full_path|urlencode }}"
                                    style="display: inline;"
                                >
                                    {% csrf_token %}
                                    <button
                                        type="submit"
                                        class="app-btn-icon"
                                        data-tippy-content="Mark Active"
                                        aria-label="Mark {{ habit }} as active"
                                    >{% include "partials/icons/unarchive.html" %}</button>
                                </form>
                            {% endif %}
                            <a href="{% url 'habits:edit_habit' habit.id %}?next={{ request.get_full_path|urlencode }}"
                               class="app-btn-icon"
                               data-tippy-content="Edit"
                            >{% include "partials/icons/edit.html" %}</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </figure>
</article>

{% else %}

<article style="text-align: center;">
    <p style="color: var(--pico-muted-color);">
        You haven't created any habits yet.
    </p>
    <a href="{% url 'habits:add_habit' %}?next={{ request.get_full_path|urlencode }}"
       role="button">
        + Add your first habit
    </a>
</article>

{% endif %}