{% if goals %}

<article>
    <figure class="app-table-wrapper">
        <table role="grid" class="app-table">
            <thead>
                <tr>
                    <th scope="col" style="width: 20%;">Habit</th>
                    <th scope="col" style="width: 20%;">Target (per day)</th>
                    <th scope="col" style="width: 20%;">Duration</th>
                    <th scope="col" style="width: 10%;">Status</th>
                    <th scope="col" style="width: 10%;">Modify</th>
                </tr>
            </thead>

            <tbody>
                {% for goal in goals %}
                    <tr>
                        <td data-label="Habit">
                            {{ goal.habit }}
                        </td>
                        <td data-label="Target">
                            {{ goal.target_str }}
                        </td>
                        <td data-label="Duration">
                            {{ goal.start_date|date:"M j, Y" }}
                            &ndash;
                            {% if goal.end_date %}
                                {{ goal.end_date|date:"M j, Y" }}
                            {% else %}
                                Ongoing
                            {% endif %}
                        </td>
                        <td data-label="Status">
                             <span class="amount-badge {{ goal.status.badge_class }}">
                                {{ goal.status.label }}
                            </span>
                        </td>
                        <td data-label="Modify" class="app-table-actions">
                            <a
                                href="{% url 'habits:edit_goal' goal.id %}?next={{ request.get_full_path|urlencode }}"
                                class="app-btn-icon"
                                data-tooltip="Edit"
                                data-placement="left"
                            >
                                {% include "partials/icons/edit_icon.html" %}
                            </a>

                            <button
                                type="button"
                                class="app-btn-icon app-btn-danger delete-btn"
                                data-tooltip="Delete"
                                data-placement="right"
                                data-action="{% url 'habits:delete_goal' goal.id %}?next={{ request.get_full_path|urlencode }}"
                                data-message="
                                    Are you sure you want to delete
                                    <strong>{{ goal }}</strong>?
                                    Your progress will be erased and can not be reversed.
                                "
                            >
                                {% include "partials/icons/delete_icon.html" %}
                            </button>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </figure>
</article>

{% else %}

 <article style="text-align: center;">
    <p style="margin-bottom: 0;">
        <strong>No goals yet</strong>
    </p>
    <p style="color: var(--pico-muted-color);">
        Create a goal to set a target for one of your habits.
    </p>
    <a href="{% url 'habits:add_goal' %}?next={{ request.get_full_path|urlencode }}"
       role="button"
       class="secondary">
        🎯 Create your first goal
    </a>
</article>

{% endif %}