{% if habits %}

<article>
        <figure class="app-table-wrapper">
            <table role="grid" class="app-table">
                <thead>
                <tr>
                    <th scope="col" style="width: 10%;">Name</th>
                    <th scope="col" style="width: 20%;">Target (per day)</th>
                    <th scope="col" style="width: 10%;">Status</th>
                    <th scope="col" style="width: 10%;">Modify</th>
                </tr>
                </thead>
                <tbody>
                {% for habit in habits %}
                    <tr>
                        <td data-label="Name">{{ habit.name }}</td>
                        <td data-label="Default Target">{{ habit.target_str }}</td>
                        <td data-label="Status">
                            {% if not habit.is_active %}
                                <span class="amount-badge amount-badge--danger" title="inactive">
                                    Inactive
                                </span>
                            {% else %}
                                <span class="amount-badge amount-badge--success" title="active">
                                    Active
                                </span>
                            {% endif %}
                        </td>
                        <td data-label="Modify" class="app-table-actions">
                            <a href="{% url 'habits:edit_habit' habit.id %}?next={{ request.get_full_path|urlencode }}" class="app-btn-icon" title="Edit">
                                {% include "partials/icons/edit_icon.html" %}
                            </a>
                            <button type="button"
                                class="
                                    app-btn-icon
                                    app-btn-danger
                                    delete-btn
                                "
                                title="Delete"
                                data-action="{% url 'habits:delete_habit' habit.id %}?next={{ request.get_full_path|urlencode }}"
                                data-message="
                                    Are you sure you want to delete this habit,
                                    <strong>{{ habit.name }}</strong>?
                                    This action can't be reversed.
                                ">
                                {% include "partials/icons/delete_icon.html" %}
                            </button>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </figure>
</article>

{% else %}

<article style="text-align: center;">
    <p style="color: var(--pico-muted-color);">
        You haven't created any habits yet.
    </p>
    <a href="{% url 'habits:add_habit' %}?next={{ request.get_full_path|urlencode }}"
       role="button">
        + Add your first habit
    </a>
</article>

{% endif %}