{% extends 'base.html' %}

{% block content %}

<div class="grid" style="align-items: center; margin-top: 2rem; margin-bottom: 2rem;">

    <div>
        <h2 style="margin-bottom: 0;">Not Just You</h2>
        <p style="color: var(--pico-muted-color);">
            Manage your shared expenses
        </p>
    </div>

    <div style="text-align: right; display: flex; gap: 0.5rem; justify-content: flex-end; flex-wrap: wrap;">
        <a href="{% url 'ledger:summary' %}" role="button" class="secondary">Summary</a>
        <a href="{% url 'ledger:activity' %}" role="button" class="secondary outline">Activity</a>
        <a href="{% url 'ledger:add' %}?next={{ request.get_full_path|urlencode }}" role="button">+ New Entry</a>
    </div>
</div>

<header class="grid" style="margin-bottom: 2rem; align-items: center;">

    <hgroup style="margin-bottom: 0;">
        <h3 style="margin-bottom: 0;">Your Records</h3>
        <p style="color: var(--pico-muted-color); margin-bottom: 0;">
            Latest 10 transactions.
        </p>
    </hgroup>

</header>

{% include "ledger/partials/ledger_table.html" %}

{% endblock content %}