{% extends "generic_form.html" %}


{% block sub_header %}
    <p style="
        color: var(--pico-muted-color);
    ">Make sure to save the habit beforehand
        <a href="{% url 'habits:add_habit' %}?next={{ request.get_full_path|urlencode }}">(Click Here)</a>
    </p>
{% endblock sub_header %}


{% block form_scripts %}

{{ form.habit_defaults|json_script:"habit-defaults" }}
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const habitField = document.getElementById("id_habit");
        const targetField = document.getElementById("id_target_value");
        const unitField = document.getElementById("id_unit");

        const startDateField = document.getElementById("id_start_date");
        const endDateField = document.getElementById("id_end_date");

        const habitDefaults = JSON.parse(
            document.getElementById("habit-defaults").textContent
        );

        function updateEndDateMin() {
            const startDate = startDateField.value;
            const currentMin = endDateField.min;
            if (!startDate) {
                return;
            }
            const minDate = startDate > currentMin
                ? startDate
                : currentMin;
            endDateField.min = minDate;
            if (
                endDateField.value &&
                endDateField.value < minDate
            ) {
                endDateField.value = "";
            }
        }
        startDateField.addEventListener("change", updateEndDateMin);
        updateEndDateMin();


        function updateHabitDefaults() {
            if (habitField.disabled) {
                return;
            }

            if (!habitField.value) {
                targetField.value = "";
                unitField.value = "";
                targetField.disabled = true;
                unitField.disabled = true;
                return;
            }

            const defaults = habitDefaults[habitField.value];
            targetField.disabled = false;
            unitField.disabled = false;
            targetField.value = defaults.target;
            unitField.value = defaults.unit;
    }

    habitField.addEventListener("change", updateHabitDefaults);
    updateHabitDefaults();


    });
</script>

{% endblock form_scripts %}