{% extends 'base.html' %}

{% block content %}

<div class="grid" style="align-items: center; margin-top: 2rem; margin-bottom: 2rem;">

    <div>
        <h2 style="margin-bottom: 0;">Not Just You</h2>
        <p style="color: var(--pico-muted-color);">
            Manage your shared expenses
        </p>
    </div>

    <div style="text-align: right; display: flex; gap: 0.5rem; justify-content: flex-end; flex-wrap: wrap;">
        <a href="{% url 'ledger:summary' %}" role="button" class="secondary outline">Summary</a>
        <a href="{% url 'ledger:add' %}" role="button">+ New Entry</a>
    </div>
</div>

<header class="grid" style="margin-bottom: 2rem; align-items: center;">

    <hgroup style="margin-bottom: 0;">
        <h3 style="margin-bottom: 0;">Your Records</h3>
        <p style="color: var(--pico-muted-color); margin-bottom: 0;">
            Make sure to save some contacts beforehand
            <a href="{% url 'base:preferences' %}">(Click Here)</a>
        </p>
    </hgroup>

    <div style="text-align: right;">
        <form method="get" action="{% url 'ledger:home' %}">
            <fieldset role="group">
                {{ form.timeframe }}
            </fieldset>
        </form>
    </div>

</header>

{% include "ledger/partials/ledger_table.html" %}

{% endblock content %}