{% extends 'base.html' %}

{% block content %}

<div class="grid" style="align-items: center; margin-top: 2rem; margin-bottom: 2rem;">

    <div>
        <h2 style="margin-bottom: 0;">Not Just You</h2>
        <p style="color: var(--pico-muted-color);">
            Manage your shared expenses
        </p>
    </div>

    <div style="text-align: right; display: flex; gap: 0.5rem; justify-content: flex-end; flex-wrap: wrap;">
        <a href="{% url 'ledger:summary' %}" role="button" class="secondary outline">Summary</a>
        <a href="{% url 'ledger:add' %}" role="button">+ New Entry</a>
    </div>
</div>

<div style="
    font-size: 0.875rem;
    text-transform: uppercase;
    letter-spacing: 0.05rem;
    color: var(--pico-muted-color);
    margin-bottom: 1rem;
    font-weight: 600;
">
    Your Records
    <p style="
        text-transform: none;
        color: var(--pico-muted-color);
    ">Make sure to save some contacts beforehand
        <a href="{% url 'base:preferences' %}">(Click Here)</a>
    </p>
</div>

<article>
    <form method="get" action="{% url 'ledger:home' %}">
        <div class="grid">

            {% for field in form %}
                <div>
                    <label for="{{ field.id_for_label }}">
                        {{ field.label }}
                        {{ field }}
                    </label>

                    {% if field.errors %}
                        <small style="color: var(--pico-form-element-invalid-active-border-color);">
                            {{ field.errors.0 }}
                        </small>
                    {% endif %}
                </div>
            {% endfor %}

            <div style="
                display: flex;
                gap: 1rem;
                justify-content: flex-end;
                align-items: flex-end;
                padding-bottom: var(--pico-spacing);
            ">
                <a href="{% url 'ledger:home' %}"
                   role="button"
                   class="secondary outline"
                   style="flex: 1; margin-bottom: 0;">
                    Reset
                </a>

                <button type="submit"
                        style="flex: 1; margin-bottom: 0;">
                    Apply
                </button>
            </div>

        </div>
    </form>
</article>

{% include "ledger/ledger_table.html" %}

{% endblock content %}