<svg
    width="{{ width|default:18 }}"
    height="{{ height|default:18 }}"
    class="{{ class|default:'' }}"
    viewBox="0 0 24 24"
    fill="none"
    stroke="currentColor"
    stroke-width="2"
    stroke-linecap="round"
    stroke-linejoin="round"
    aria-hidden="true"
>
    <polyline points="21 8 21 21 3 21 3 8"></polyline>
    <rect x="1" y="3" width="22" height="5" rx="1"></rect>
    <line x1="12" y1="10" x2="12" y2="16"></line>
    <polyline points="9 13 12 16 15 13"></polyline>
</svg>