{% extends "base.html" %}

{% block content %}
    <article style="text-align: center; max-width: 700px; margin: 2rem auto;">

        {% if user.is_authenticated %}

            <header style="margin-top: 0.5vh">
                <h2>Welcome back, {{ user.username }}!</h2>
                <p style="color: var(--pico-muted-color);"> Everything you need to stay on top of your money and goals, all in one place. </p>
            </header>
           <p>
               Keep track of your spending and understand where your money goes.
               <a href="{% url 'expenses:home' %}">
                   <strong>Expenses</strong>
               </a>💰
           </p>
            <p>
                Manage shared expenses and keep track of who owes whom.
                <a href="{% url 'ledger:home' %}">
                   <strong>Ledger</strong>
               </a>🤝
            </p>
            <p>
                Set goals, build habits, and track your progress.
                <a href="{% url 'habits:home' %}">
                   <strong>Habits</strong>
               </a>🎯
            </p>

        {% else %}

            <p>You are currently browsing as a guest.</p>

            <div class="grid" style="margin-top: 2rem;">
                <a href="{% url 'accounts:login' %}" role="button">Log In</a>
                <a href="{% url 'accounts:signup' %}" role="button" class="secondary">Sign Up</a>
            </div>

        {% endif %}

    </article>
{% endblock content %}